---
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props
  extends
    VariantProps<typeof collapsibleContentVariants>,
    HTMLAttributes<"div"> {
  class?: string;
}

const collapsibleContentVariants = cva("overflow-hidden", {
  variants: {
    animation: {
      none: "",
      slide:
        "h-(--collapsible-panel-height) transition-[height] duration-200 ease-out motion-reduce:transition-none",
    },
  },
  defaultVariants: {
    animation: "none",
  },
});

const {
  class: className = "",
  animation = "none",
  ...rest
} = Astro.props as Props;
---

<div
  {...rest}
  data-slot="collapsible-content"
  class={cn("", collapsibleContentVariants({ animation }), className)}
>
  <slot />
</div>
