---
import "@/assets/styles/global.css";
import { Font } from "astro:assets";
import ThemeScript from "@/components/ThemeScript.astro";
import Header from "@/components/Header.astro";
import Search from "@/components/search/Search.astro";
import { SITE } from "@/lib/site-config";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = SITE.description,
  image = SITE.image,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={SITE.favicon} />

    <Font cssVariable="--font-sans" />
    <Font cssVariable="--font-mono" />
    <Font cssVariable="--font-serif" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <ThemeScript />
  </head>
  <body
    class="bg-background text-foreground min-h-screen selection:bg-primary/30 selection:text-primary"
  >
    <Header />
    <slot />
    <Search />
  </body>
</html>
